{{ define "hero" }}
<style>
.mode-light { display: block; }
.mode-dark { display: none; }
[data-theme='dark'] .mode-light { display: none; }
[data-theme='dark'] .mode-dark { display: block; }
</style>
<div class="hero-container">
  <a href="https://redot.com/" class="mode-dark"><img src="/img/ETHScan_banner.png" style="width: 100%" alt="Trade/Stake Ethereum 2.0 without Fees at Redot.com" /></a>
  <a href="https://redot.com/" class="mode-light"><img src="/img/ETHScan_banner_invert.png" style="width: 100%" alt="Trade/Stake Ethereum 2.0 without Fees at Redot.com" /></a>
</div>
{{ end }}