{{ define "js"}}
    <script src="/js/highcharts/highstock.min.js"></script>
    <script src="/js/highcharts/exporting.min.js"></script>
    <script src="/js/highcharts/offline-exporting.min.js"></script>
    <script src="/js/vue.min.js"></script>
    <script src="/js/highcharts/highcharts-vue.min.js"></script>
    <script src="/js/highcharts/highcharts-global-options.js"></script>
    <script src="/js/requestInterval.js"></script>

    <!-- <script type="text/javascript" src="js/slick.min.js"></script> -->
    <!-- <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> -->


    {{ if .GenesisPeriod }}
        <script src="/js/d3.min.js"></script>
    {{ end }}
    <script>
        var app = new Vue({
            el: '#app',
            delimiters: ['${', '}'], // Standard vuejs template syntax conflicts with golang template syntax
            components: {
                highcharts: HighchartsVue.Chart
            },
            data: function () {
                return {
                    checklist: [
                        {epoch: 0, participation: 0.3,},
                        {epoch: 1, participation: 0.3,},
                        {epoch: 1, participation: 0.3,}
                    ],
                    windowWidth: window.innerWidth,
                    updateIn: -1,
                    page: {{.}},
                    chartOptions: {
                        rangeSelector: {enabled: false},
                        navigator: {enabled: false},
                        scrollbar: {enabled: false},
                        chart: {type: 'spline'},
                        title: {text: 'Network History'},
                        subtitle: {},
                        xAxis: {
                            type: 'datetime',
                            range: 7 * 24 * 60 * 60 * 1000,
                            labels: {
                                formatter: function () {
                                    var epoch = timeToEpoch(this.value)
                                    var orig = this.axis.defaultLabelFormatter.call(this)
                                    return `${orig}<br/>Epoch ${epoch}`
                                }
                            }
                        },
                        yAxis: [{
                            title: {text: 'Balance [ETH]'},
                            labels: {
                                formatter: function () {
                                    return this.value.toFixed(0);
                                }
                            },
                            opposite: false
                        }, {
                            title: {text: 'Active Validators'},
                            labels: {
                                formatter: function () {
                                    return this.value.toFixed(0);
                                }
                            },
                            opposite: true
                        }],
                        series: [
                            {
                                name: "Staked Ether",
                                yAxis: 0,
                                data: {{.StakedEtherChartData}}
                            },
                            {
                                name: "Active Validators",
                                yAxis: 1,
                                data: {{.ActiveValidatorsChartData}}
                            }
                        ],
                        legend: {enabled: true},
                        tooltip: {
                            formatter: function (tooltip) {
                                var orig = tooltip.defaultFormatter.call(this, tooltip)
                                var epoch = timeToEpoch(this.x)
                                orig[0] = `${orig[0]}<span style="font-size:10px">Epoch ${epoch}</span>`
                                return orig
                            }
                        },
                    },
                    responsive: {
                        rules: [
                            {
                                condition: {maxWidth: 400,},
                                chartOptions: {
                                    legend: {enabled: false,},
                                    chart: {},
                                    legend: {layout: 'vertical',},
                                    yAxis: [
                                        {
                                            title: {text: null,},
                                            labels: {enabled: false,},
                                            opposite: false
                                        },
                                        {
                                            title: {text: null,},
                                            labels: {enabled: false,},
                                            opposite: true
                                        }
                                    ],
                                    tooltip: {
                                        formatter: function (tooltip) {
                                            var orig = tooltip.defaultFormatter.call(this, tooltip)
                                            var epoch = timeToEpoch(this.x)
                                            orig[0] = `${orig[0]}<span style="font-size:10px">Ep ${epoch}</span>`
                                            return orig
                                        }
                                    },
                                },
                            },
                        ],
                    },
                }
            },
            computed: {
                participation: function () {
                    if (this.page && this.page.epochs && this.page.epochs.length && this.page.epochs[0].globalparticipationrate !== 0) {
                        return Math.round(this.page.epochs[0].globalparticipationrate * 1000) / 1000
                    } else if (this.page && this.page.epochs && this.page.epochs.length > 1) {
                        return Math.round(this.page.epochs[1].globalparticipationrate * 1000) / 1000
                    } else {
                        return 0
                    }
                },

                validatorsMissing: function () {
                    var eligible = 0
                    var voted = 0
                    if (this.page && this.page.epochs && this.page.epochs.length && this.page.epochs[0].globalparticipationrate !== 0) {
                        eligible = this.page.epochs[0].eligibleether
                        voted = this.page.epochs[0].votedether
                    } else if (this.page && this.page.epochs && this.page.epochs.length > 1) {
                        eligible = this.page.epochs[1].eligibleether
                        voted = this.page.epochs[1].votedether
                    } else {
                        return 0
                    }
                    var missingEther = (eligible * 0.66) - voted
                    return Math.round(missingEther / 32e9)
                },
                scheduledCount: function () {
                    return this.page.scheduled_count
                },
                epochCompletePercent: function () {
                    return ((32 - this.page.scheduled_count) / 32) * 100
                }
            },
            filters: {
                fromNow(date) {
                    return luxon.DateTime.fromISO(date).toRelative({ style: "short"});
                }
            },
            created: function () {
                this.tick();
                setInterval(function () {
                    this.tick();
                }.bind(this), 1000);
            },
            methods: {
                tick: function () {
                    if (this.updateIn <= 0) {
                        $.getJSON('/index/data', function (response) {
                            this.page = response;
                        }.bind(this));
                        this.updateIn = 15;
                    } else {
                        this.updateIn--;
                    }
                }
            },
            mounted() {
                this.$nextTick(() => {
                    window.addEventListener('resize', () => {
                        this.windowWidth = window.innerWidth
                    })
                })
            }
        })

    </script>
{{end}}

{{ define "css"}}

    <!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/> -->

    {{ if .GenesisPeriod }}
        <link rel="stylesheet" href="/css/checklist.css">
        <link rel="stylesheet" href="/css/rocket.css">
    {{end}}
    <style>
        .hero-container {
            position: relative;
            min-height: 250px;
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }

        .hero-image {
            overflow: hidden;
            flex: 1;
            max-width: 500px;
            min-width: 320px;
            max-height: 400px;
            min-height: 200px;
            position: relative;
        }

        .hero-image svg {
            overflow: hidden;
            width: inherit;
            height: inherit;
        }

        .hero-text {
            font-size: 2rem;
            flex: 1;
            min-width: 305px;
            max-width: 500px;
            position: relative;
        }

        .hero-text-background {
            position: absolute;
            width: 100%;
            height: 98%;
            /* bottom: -40%; */
            /* transform: scale(.5) translateY(20%); */
            border-radius: 65% 35% 70% 30% / 50% 50% 50% 50%;
            background-image: var(--linear-gradient);
            box-shadow: 5px 15px 30px var(--shadow-light);
            z-index: -50;
            -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            opacity: .6;
        }

        /* ----------------------------------------------
             * Generated by Animista on 2020-5-27 13:15:6
             * Licensed under FreeBSD License.
             * See http://animista.net/license for more info.
             * w: http://animista.net, t: @cssanimista
             * ---------------------------------------------- */
        @-webkit-keyframes slide-bottom {
            0% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }

            100% {
                -webkit-transform: scale(1) translateY(25%);
                transform: scale(1) translateY(25%);
            }
        }

        @keyframes slide-bottom {
            0% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }

            100% {
                -webkit-transform: scale(1) translateY(25%);
                transform: scale(1) translateY(25%);
            }
        }


        @media (max-width: 1140px) {
            .hero-text-background {
                animation: none;
                transform: scale(1) translateY(1.5rem);
                height: calc(100% - 1.5rem);
                border-radius: .5rem;
                opacity: .8
            }

            .hero-container {
                margin-bottom: 50px;
            }
        }

        @media (max-width: 960px) {
            .hero-image {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .hero-container {
                flex-wrap: nowrap;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .hero-text {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            .hero-image svg {
                opacity: 0.2;
            }

            .hero-text-background {
                transform: scale(1) translateY(10%);
                animation: none;
                opacity: .1;
            }
        }

        @media (max-width: 960px) {
            .index-stats {
                font-size: .9rem;
            }

            .index-stats h5, .card-title {
                font-size: 1rem !important;
            }
        }

        [v-cloak] {
            visibility: hidden;
        }

        .responsive-border-right {
            border-right-color: rgb(222, 226, 230);
            border-right-style: solid;
            border-right-width: 1px;
        }

        @media (max-width: 767px) {
            .responsive-border-right-l {
                border: hidden;
            }
        }
    </style>
{{end}}

{{ define "content"}}
    {{with .Data}}
        <div class="container mt-2">
            <div id="app" v-cloak>
                {{if and (and (not .ShowSyncingMessage) .Genesis) (not .GenesisPeriod)}}
                    {{ template "participationWarning" .}}
                {{end}}
                {{ template "hero" .Subtitle }}
                {{ if and (not .Genesis) (not .GenesisPeriod) }}
                    {{ template "preGenesis" .}}
                {{ else if .GenesisPeriod}}
                    {{template "genesis" .}}
                {{else}}
                    {{template "postGenesis" .}}
                {{end}}
            </div>
        </div>
    {{end}}
    <div class="container mt-2" style="height: 400px; overflow-y: scroll;margin-top: 2.5rem !important">
        <h1>Ethscan — Ethereum 2.0 Blockchain Explorer </h1>
        <p>Ethscan is an easy-to-use ETH2 block explorer that exports real-time block and validator data from the ETH2 beacon chain. Validators, traders, and crypto enthusiasts use it to monitor the circulating ETH volume, track staking rewards, follow high-performing nodes, and get a big-picture view of the network. </p>
        <h2>What is Ethereum 2.0 block explorer?</h2>
        <p>Generally, ETH2 block explorers are tools that give context to individual transactions and blocks added to the Ethereum blockchain. Since the network stores a lot of data, it’s important to be able to quickly look up a specific block or a validator by the public key, hash, block number, or graffiti associated with it.</p>
        <p>Ethscan helps monitor activities on the beacon chain with a user-friendly interface, high volume of trackable data, and the ETH2 API. </p>
        <h2>How does Ethscan block blockchain explorer work?</h2>
        <p>Ethscan block explorer is a tool you can use to track blockchain data. </p>
        <p>Since blockchains are transparent and decentralized, all transactions can be verified. Explorers are interfaces that streamline the process through user-friendly features: visually-rich dashboards, search tabs, and others. </p>
        <p>If you think of blockchain as the decentralized version of the Internet, a blockchain explorer is a search engine that helps you navigate through the network. </p>
        <h3>What types of data can you track using Ethscan?</h3>
        <p>Ethscan gives users a bird-eye view of all relevant transactions and market data for the Ethereum 2.0 beacon chain. </p>
        <p>Here’s what you can monitor:</p>
        <p><strong>Block data</strong></p>
        <p>On average, a new block is added to the network every 12 seconds. Each of these blocks is a record of valuable transaction data, namely:</p>
        <ul>
            <li>The epoch during which the block was created. </li>
            <li>Slot — a 12-second period during which a block can be added to a shard or the beacon chain. </li>
            <li>A timestamp that indicates the moment in which a block was added to the ledger. </li>
            <li>Proposer — the miner who added the block. </li>
            <li>Votes — the number of attestations per block</li>
            <li>Graffiti — arbitrary data added by the validator to the “graffitiwall”. </li>
            <li>Block status indicating the status of a transaction. </li>
            <li>The number of votes per block. </li>
        </ul>
        <p><strong>Epoch data:</strong></p>
        <p>Tracking epoch data is important if you want to find out how many validators vote for blocks, whether there were any penalties in a given block, and the number of ETH deposits per epoch. </p>
        <p>When it comes to epoch data, Ethscan enables tracking:</p>
        <ul>
            <li>Attestations — the number of votes for each block in a slot.</li>
            <li>Deposits — the number of ETH tokens staked per epoch.</li>
            <li>Slashings — attestor penalties within an epoch.</li>
            <li>Voted — the amount of ETH staked to attest a block.</li>
        </ul>
        <p><strong>Validators</strong></p>
        <p>You can use Ethscan to track the behavior of validators — those responsible for proposal and attestation. </p>
        <p>Here’s the validator data the blockchain explorer covers:</p>
        <ul>
            <li>Public key — a unique number assigned to each validator. </li>
            <li>Index — a number unique to each validator. </li>
            <li>Balance — the total balance and the amount of ETH a validator staked. </li>
            <li>State shows whether a validator is active on the network. </li>
            <li>Activation — the date when a validator joined the network. </li>
            <li>Exit — the date when a validator exited the network (due to slashing or after the lock-up period ended). </li>
            <li>Latest attestation — the time when a validator made the most recent block attestation. </li>
            <li>Slashed — an indicator that shows whether a validator was penalized during the epoch. (Sidenote: you can take a look at the list of slashed validators in “Slashings”). </li>
        </ul>
        <p>On the validator page, you can see even more validator-specific data:</p>
        <ul>
            <li>Income</li>
            <li>Deposits</li>
            <li>Effectiveness</li>
            <li>APR</li>
            <li>Proposals</li>
        </ul>
        <p><i>Ethscan helps users track validator data via email notifications about the activity of a chosen validator. </i></p>
        <h3>Evolution of ETH block explorers</h3>
        <p>Soon after its introduction, the Ethereum blockchain was in need of infrastructure that would enable users to track relevant data. Without one, it was impossible to verify whether ETH transactions were sent or not, the situation that could be misused by bad actors. </p>
        <p>Also, while blockchain stores all transaction data, it’s not adapted to non-machine use. Humans would have a hard time interpreting raw blockchain data — it was about time to format them. </p>
        <p>The development of block explorers had four distinct phases:</p>
        
        <p><strong>Phase 0: CLI-based explorers</strong></p>
        <p>First blockchain explorers were technically complex and could only be used by programmers or technically skilled users. </p>
        <p>In fact, these terminal scripts are still around — you can find 
            <a href="https://github.com/8go/coinbash">interesting projects on GitHub.</a> </p>
    
        <p><strong>Phase 1: Real-time stat trackers</strong></p>
        <p>Websites that aggregate real-time transaction data were the next step in the evolution of blockchain explorers. Unlike Ethscan and other tools, these were not customizable and limited in features (e.g. didn’t support block and validator search). </p>
    
        <p><strong>Phase 2: Blockchain and Ethereum Explorers</strong></p>
        <p>After 2010 (long before Ethereum launched), the first blockchain explorers were created. These helped miners track Bitcoin blockchain data, monitor their transactions, and keep tabs on best-performing users. </p>
        <p>After the Ethereum team developed the ETH blockchain, specialized ETH block explorers appeared. The most common and widely used tools to this day are Etherscan, Etherchain, and a few others. </p>
    
        <p><strong>Phase 3. Ethereum 2.0 Block Explorers</strong></p>
        <p>After the introduction of Beacon Chain, explorer developers expanded the infrastructure to cover validator activity by designing ETH2 tracking tools. In fact, Ethscan is among leading ETH2 block explorers. </p>
    
        <h2>How to Track Ethereum 2.0 Transactions?</h2>
        <h3>When will I be able to check ETH2 transactions?</h3>
        <p>Whenever a validator confirms transactions, they are added to a block and stored on the blockchain. Ethscanner pulls data directly from the blockchain and converts it into a readable format — tables, dashboards, etc. </p>
        <h3>How do I track Ethereum 2.0 transactions?</h3>
        <p>Let’s briefly go over the mechanics of an Ethereum transaction:</p>
        <ul>
            <li>After you initiate transactions, they are broadcasted to the network. </li>
            <li>A validator chooses your transaction, verifies it, and includes it in the block. </li>
            <li>A block confirmation number, corresponding to the number of blocks created after the creation of the block that featured your transaction, is assigned to each transaction. </li>
        </ul>
        <p>You can track the state of Ethereum transactions on Ethscan by looking up the hash or the number of the block it was included in. </p>
    
        <h3>Why Use Ethereum 2.0 Blockchain Explorer</h3>
        <p>Although often overlooked in the crypto community, blockchain explorers are powerful tools that keep the network transparent. They are highly versatile tools and have important use cases:</p>
        <ul>
            <li><strong>Transactions</strong>. Ethereum transactions are not processed instantly — depending on network congestion, the full process might take anywhere between 15 seconds and 5 minutes. Block explorers keep traders updated on the status of a transaction by entering its hash. </li>
            <li><strong>Tracking rewards</strong>. Validators rely on Ethereum 2.0 explorers to check if they succeeded in creating a block and get to claim its reward. </li>
            <li><strong>Investment</strong>. Investors and crypto enthusiasts can use blockchain explorers to monitor the circulating token supply in real-time and monitor market activity. Explorer data can provide a reliable backbone for investment rationale (e.g. whether or not you want to back a project). </li>
        </ul>
    
        <h2>ETH2 Block Explorer FAQ</h2>
        <h3>Is Ethereum 2.0 Blockchain Explorer Free?</h3>
        <p>Yes, Ethscan is a free Ethereum 2.0 explorer. You don’t need to pay for tracking blocks, epochs, validators, or other blockchain data. </p>
        <h3>How many active validators are there in the system?</h3>
        <p>Right now, you can track over 189,500 Ethereum 2.0 validators. As new users join the network, the explorer allows tracking their transactions in real-time. </p>
        <h3>Does Ethscan block explorer only support Ethereum 2.0?</h3>
        <p>Yes, Ethscan is an ETH2 validator. </p>
        <h3>How is Ethereum 2.0 blockchain explorer different from traditional Ethereum explorers?</h3>
        <p>ETH2 explorers are slightly different from traditional blockchain explorers, as the ETH 2.0 update sets the new network apart from other ecosystems. </p>
        <p>Specifically, ETH2 blockchain explorers track unique data types:</p>
        
        <ul>
            <li>Validators (not miners) — entities chosen by the algorithm to propose blocks. </li>
            <li>Epochs during which a block proposal was made. </li>
            <li>Attestations — the number of votes indicating a block’s readiness to be included in the beacon chain. </li>
        </ul>
        <h3>Does Ethscan have an API for tracking ETH2?</h3>
        <p>Yes, there’s a free API that exports ETH data directly from the beacon chain. API calls are limited to 10 per minute per IP. Result caching takes 1 minute. </p>
        <p>To know more about the API, take a look at <a href="/api/v1/docs/index.html">API Docs</a>. </p>
    </div>
{{end}}
